In [1]:
import pandas as pd

import numpy as np

df = pd.read_csv('data/HR.csv')

print(df.head(5))

sa_s = df['salary']

   satisfaction_level  last_evaluation  number_project  average_monthly_hours  \
0                0.38             0.53               2                    157
1                0.80             0.86               5                    262
2                0.11             0.88               7                    272
3                0.72             0.87               5                    223
4                0.37             0.52               2                    159

   time_spend_company  Work_accident  left  promotion_last_5years department  \
0                   3              0     1                      0      sales
1                   6              0     1                      0      sales
2                   4              0     1                      0      sales
3                   5              0     1                      0      sales
4                   3              0     1                      0      sales

   salary
0     low
1  medium
2  medium
3     low
4     low

In [2]:
sa_s.value_counts()

low       7318
medium    6446
high      1237
nme          1
Name: salary, dtype: int64

nme是一个异常值，需要被清除掉

In [4]:
sa_s.where(sa_s=="nme")

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
14972    NaN
14973    NaN
14974    NaN
14975    NaN
14976    NaN
14977    NaN
14978    NaN
14979    NaN
14980    NaN
14981    NaN
14982    NaN
14983    NaN
14984    NaN
14985    NaN
14986    NaN
14987    NaN
14988    NaN
14989    NaN
14990    NaN
14991    NaN
14992    NaN
14993    NaN
14994    NaN
14995    NaN
14996    NaN
14997    NaN
14998    NaN
14999    NaN
15000    NaN
15001    nme
Name: salary, Length: 15002, dtype: object

当符合条件是原来的值，不符合时为空

In [8]:
sa_s = sa_s.where(sa_s!="nme").dropna()

In [9]:
sa_s.value_counts()

low       7318
medium    6446
high      1237
Name: salary, dtype: int64