In [35]:
import pandas as pd

import numpy as np

df = pd.read_csv('data/HR.csv')

print(df.head(5))

de_s = df['department']

   satisfaction_level  last_evaluation  number_project  average_monthly_hours  \
0                0.38             0.53               2                    157
1                0.80             0.86               5                    262
2                0.11             0.88               7                    272
3                0.72             0.87               5                    223
4                0.37             0.52               2                    159

   time_spend_company  Work_accident  left  promotion_last_5years department  \
0                   3              0     1                      0      sales
1                   6              0     1                      0      sales
2                   4              0     1                      0      sales
3                   5              0     1                      0      sales
4                   3              0     1                      0      sales

   salary
0     low
1  medium
2  medium
3     low
4     low

In [36]:
de_s.value_counts(normalize=True)

sales          0.275963
technical      0.181309
support        0.148647
IT             0.081789
product_mng    0.060125
marketing      0.057192
RandD          0.052460
accounting     0.051127
hr             0.049260
management     0.041994
sale           0.000133
Name: department, dtype: float64

这里的sales我们可以认为是录入错误，直接将其转换为sales，也可以直接清除掉。

In [37]:
de_s = de_s.where(de_s!="sale").fillna("sales")

In [38]:
de_s

0             sales
1             sales
2             sales
3             sales
4             sales
5             sales
6             sales
7             sales
8             sales
9             sales
10            sales
11            sales
12            sales
13            sales
14            sales
15            sales
16            sales
17            sales
18            sales
19            sales
20            sales
21            sales
22            sales
23            sales
24            sales
25            sales
26            sales
27            sales
28       accounting
29       accounting
            ...
14972    accounting
14973    accounting
14974    accounting
14975            hr
14976            hr
14977            hr
14978            hr
14979     technical
14980     technical
14981     technical
14982     technical
14983     technical
14984     technical
14985     technical
14986     technical
14987     technical
14988     technical
14989     technical
14990       support
14991       support
14992       support
14993       support
14994       support
14995       support
14996       support
14997       support
14998       support
14999       support
15000         sales
15001         sales
Name: department, Length: 15002, dtype: object

将异常值通过where转换为nan，然后通过fillna填充。